.footer {
  padding-block: 1.875rem; /* 30/16 */
}
.footer__policy {
  color: var(--primary-title);
  text-align: center;
  line-height: 1.556; /* 155.556% */
  letter-spacing: 1px;
  font-weight: 700;
}
@media (any-hover: hover) {
  footer a {
    position: relative;
    transition: color 0.3s;
  }
  footer a::after {
    content: '';
    position: absolute;
    inset-block-end: -0.125rem; /* 2/16 */
    inset-inline-start: 50%;
    inline-size: 0;
    block-size: 0.0625rem; /* 1/16 */
    background-color: var(--primary-text);
    transition: inline-size 0.5s ease, inset-inline-start 0.5s ease;
  }
  footer a:hover {
    color: var(--primary-text);
  }
  footer a:hover::after {
    inline-size: 100%;
    inset-inline-start: 0;
  }
}
